.login-page {
  height: calc(100vh - 64px);
  max-width: 1200px;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--space-xl);
  color: var(--color-on-surface);
  text-align: center;
}

.login-left__img {
  width: 100%;
  max-width: 420px;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius-lg);
  margin-bottom: var(--space-lg);
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.login-left__content {
  max-width: 320px;
}

.login-left__note {
  font-size: var(--fs-body-lg);
  font-weight: var(--fw-semibold);
  margin-bottom: var(--space-xs);
}

.login-form {
  background: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form__container {
  width: 100%;
  max-width: 440px;
}

/* =========================
   HEADER
========================= */
.login-header {
  margin-bottom: var(--space-xl);
}

.login-logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);
}

.login-logo__icon {
  width: 40px;
  height: 40px;
  background: var(--color-primary-container);
  border-radius: var(--radius-md);

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo__text {
  font-weight: var(--fw-bold);
  color: var(--color-primary);
}

.login-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semibold);
  color: var(--color-on-surface);
}

.login-subtitle {
  font-size: var(--fs-body-sm);
  color: var(--color-on-surface-variant);
}

.login-social__btn {
  width: 100%;
  padding: 12px;

  border-radius: var(--radius-md);
  border: 1px solid var(--color-outline-variant);

  background: var(--color-surface-container-low);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);

  font-size: var(--fs-body);
  color: var(--color-on-surface);

  transition: var(--transition-fast);
}

.login-social__btn:hover {
  background: var(--color-surface-container);
}

/* =========================
   DIVIDER
========================= */
.login-divider {
  position: relative;
  text-align: center;
  margin: var(--space-lg) 0;
}

.login-divider::before {
  content: "";
  position: absolute;
  inset: 50% 0;
  height: 1px;
  background: #333;
}

.login-divider span {
  position: relative;
  background: var(--color-surface);
  padding: 0 var(--space-sm);

  font-size: var(--fs-body-sm);
  color: var(--color-on-surface-variant);
}

/* =========================
   INPUT
========================= */
.login-input {
  width: 100%;
  padding: 12px;

  border-radius: var(--radius-md);
  border: 1px solid var(--color-outline-variant);
  background: var(--color-surface-container-low);
  color: var(--color-on-surface);
  font-size: var(--fs-body-sm);
  transition: var(--transition-fast);
}
.login-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-surface-container-low) inset !important;
    -webkit-text-fill-color: var(--color-on-surface) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.login-input:focus {
  outline: none;
  border-color: var(--color-primary);
  background: var(--color-surface);

  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}

/* =========================
   BUTTON
========================= */
.login-submit {
  width: 100%;
  padding: 12px;

  border-radius: var(--radius-md);
  border: none;

  background: var(--color-primary-container);
  color: var(--color-on-primary);

  font-weight: var(--fw-semibold);

  transition: var(--transition-fast);
}

.login-submit:hover {
  transform: translateY(-1px);
  box-shadow: var(--shadow-level-2);
}

.login-submit:active {
  transform: scale(0.98);
}

/* =========================
   LINK
========================= */
.login-link {
  font-size: var(--fs-body-sm) ;
  color: var(--color-primary) !important;
}

.login-link:hover {
  text-decoration: underline;
}

/* =========================
   FOOTER
========================= */
.login-footer {
  text-align: center;
  margin-top: var(--space-lg);
  font-size: var(--fs-body-sm);
}

/* =========================
   ERROR
========================= */
.text-danger {
  color: var(--color-error);
  font-size: var(--fs-body-sm);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 992px) {
  .login-left {
    display: none !important;
  }

  .login-form__container {
    padding: var(--space-md);
  }
}