.header__logo{
    width: 66px;
}
.header__search-form{
    width: 420px;
    max-width: 100%;
}
.login-btn{
    background-color: var(--color-primary);
    color: white;
}
.login-btn:hover{
    background-color: var(--color-primary-hover);
    color: white;
}
@media screen and (max-width: 999px){
    .header__search-form{
        display: none;
    }
}